@page "/"
@using Dtos
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http


@foreach (var item in postVideos)
{
    <a>
        <div class="card-1 d-inline-block" style="width: 19.5rem; margin: 8px;">

            <img src="@item.ThumbImage" class="card-img-top" alt="...">
            <div class="card-body">
                <ul style="padding:0px;">
                    <li style="display:inline-block;">
                        <a>
                            <img src="@item.ChannelDto.IconChannel" style="border:none; width:50px; height:50px;" />
                        </a>
                    </li>
                    <li style="display:inline-block;">
                        <a>
                            <p class="card-text">@item.Title)</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </a>
}

@code {
    private List<PostVideoDto> postVideos = new List<PostVideoDto>();
    string url = "https://localhost:7099/api/";

    protected override async Task OnInitializedAsync() => postVideos = await Http.GetFromJsonAsync<List<PostVideoDto>>(url + "PostVideos");
}